<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <handlers>
            <add
                name="httpplatformhandler"
                path="*"
                verb="*" 
                modules="httpPlatformHandler"
                resourceType="Unspecified"/>
        </handlers>
        <!-- For Go webapp, we always generate azureapp.exe in wwwroot -->
        <httpPlatform
            processPath=".\azureapp.exe"
            startupTimeLimit="60"
            startupRetryCount="10">
            <environmentVariables>
                <environmentVariable name="VTT_LISTENPORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>