<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <handlers>
            <add
                name="httpplatformhandler"
                path="*"
                verb="*"
                modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <!-- Specifying the process to run in wwwroot -->
        <httpPlatform
            processPath="%HOME%\site\wwwroot\TechTestApp.exe"
            arguments="%APPSETTING_ACTION%"
            startupTimeLimit="2"
            startupRetryCount="2"
            stdoutLogEnabled="true">
            <environmentVariables>
                <environmentVariable name="VTT_DBUSER" value="%APPSETTING_DBUSER%" />
                <environmentVariable name="VTT_DBPASSWORD" value="%APPSETTING_DBPASSWORD%" />
                <environmentVariable name="VTT_DBNAME" value="%APPSETTING_DBNAME%" />
                <environmentVariable name="VTT_DBHOST" value="%APPSETTING_DBHOST%" />
                <environmentVariable name="VTT_LISTENPORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
