<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <handlers>
            <add
                name="httpplatformhandler"
                path="*"
                verb="*" 
                modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <!-- Specifying the process to run in wwwroot -->
        <httpPlatform
            processPath="%HOME%\site\wwwroot\TechTestApp.exe"
            arguments="serve"
            startupTimeLimit="2"
            startupRetryCount="2"
            stdoutLogEnabled="true"
            stdoutLogFile="%HOME%\site\log.txt">
            <environmentVariables>
                <environmentVariable
                    name="VTT_LISTENPORT"
                    value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>